/*habilidades*/
.habi-container{
	background-color:rgba(136,136,136,0.6);
	width:100%;
    height:100vh;
    
   
}
.text-habi{
	font-size:40px;
	margin-top:100px;
	margin-bottom:20px;
	// margin-right:;
	// margin-left:;
	color:#E99B12;
	font-family:$cursive;
}
.habi{
	position:relative;
	border-radius:40px;
	width:20%;
	margin:0,0,0,20px;
}
/*habilidades fin */
.section-contac{
	margin-top:70px;
	width:100%;
	height: 300px;
}
.iconito{ 
	font-size:50px;
	color:#005F9C;
	border-radius:50px;
	display:inline-block;
	margin:10px;
}
.btn{
	font-size:23px;
	color:white;
	padding:5px;
	background-color:#E99B12;
	width:200px;
}
.btn:hover{
    color:#005F9C;
    padding:5px;

}
.contacto{
	position:relative;
	color:#E99B12;
	font-size:40px;
	font-family:'Passion One', cursive;
	
		}
a.text-icono{
	text-decoration:none;  
	font-size:30px;
	margin-top:100px;
	margin-bottom:20px;
	// margin-right:;
	// margin-left:;
	color:#E99B12;
	font-family:$cursive;
}
a.text-icono:hover{
    color:#005F9C;
}		
.footer{
	background-color:#005F9C;
	padding:25px;
	.text-footer{
		text-decoration:none;
		font-size:20px;
		color:white;
	}
}