.fade {
   opacity: 30;
   color:#E9B32E;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   // border-radius:20px;
   border:4px solid #E9B32E;
   height:200px;
}

.fade:hover {
      opacity: 10;
      color:green;
}
//sobra del portafolio 
.text-portafolio{
        margin-top:50px;
        color:#E9B32E;
        font-size:40px;
        font-family: $cursive;
}
@media screen and(max-width:800px){
      body{
        border:1px solid red;
        width:auto;
        max-width:800px;
      }
}
.titulo-porta{

        color:#E9B32E;
        font-size:20px;
        font-family: $cursive;
}