.barra {
  background-color: #E99B12;
  font-size: 15px; }

.progress {
  height: 18px; }

/*habilidades*/
.habi-container {
  background-color: rgba(136, 136, 136, 0.6);
  width: 100%;
  height: 100vh; }

.text-habi {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #E99B12;
  font-family: "Passion One", cursive; }

.habi {
  position: relative;
  border-radius: 40px;
  width: 20%;
  margin: 0,0,0,20px; }

.section-contac {
  width: 100%;
  height: 200px; }

.iconito {
  font-size: 80px;
  color: grey;
  border-radius: 50px;
  display: inline-block;
  margin: 10px; }

.contacto {
  position: relative;
  color: #E99B12;
  font-size: 40px;
  font-family: 'Passion One', cursive; }

.footer {
  background-color: #E99B12;
  padding: 25px; }
  .footer .text-footer {
    color: white; }

.fade {
  opacity: 0.25;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border-radius: 20px;
  border: 2px solid #dc4802;
  height: 200px; }

.fade:hover {
  opacity: 10; }

.menu {
  background-color: green;
  whith: 100%;
  color: white;
  padding: 10px; }

.lista {
  font-size: 20px; }

.fila-container {
  background-color: rgba(136, 136, 136, 0.4);
  width: 100%;
  height: 100vh; }

.intro {
  background-image: url("../img/lentesmesa.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  /*solo lo de abajo crea el parallax*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.color-letra {
  margin-top: -40px;
  background-color: rgba(105, 112, 122, 0.8);
  width: 50%; }

.text-home1 {
  margin-top: 200px;
  font-size: 80px;
  font-family: Raleway, sans-serif;
  color: #E99B12; }

.text-home2 {
  color: white;
  font-family: 'Passion One', cursive;
  font-size: 30px; }

.habilidades {
  width: 60%;
  heigth: 200px;
  diplay: flex;
  align-content: center; }

#shiva {
  width: 100px;
  height: 100px;
  background: #082F8A;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin: 5px;
  /*cetra el nuemro en el circulo*/ }
  #shiva .count {
    line-height: 100px;
    color: white;
    margin-left: 30px;
    font-size: 25px; }

.slideshow {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  opacity: 1;
  transform: scale(1.2); }
  .slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 3; }
  .slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 2; }
  .slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 1; }
  .slideshow-image:nth-child(4) {
    animation-name: kenburns-4;
    z-index: 0; }

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.2); }
  1.5625% {
    opacity: 1; }
  23.4375% {
    opacity: 1; }
  26.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.2); }
  98.4375% {
    opacity: 0;
    transform: scale(1.2117647059); }
  100% {
    opacity: 1; } }
@keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    transform: scale(1.2); }
  26.5625% {
    opacity: 1; }
  48.4375% {
    opacity: 1; }
  51.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.2); } }
@keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    transform: scale(1.2); }
  51.5625% {
    opacity: 1; }
  73.4375% {
    opacity: 1; }
  76.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.2); } }
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    transform: scale(1.2); }
  76.5625% {
    opacity: 1; }
  98.4375% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1); } }
h1 {
  color: #E99B12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  line-height: 1.5; }
  h1 small {
    display: block;
    text-transform: lowercase;
    font-size: .7em; }
    h1 small:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding-bottom: .5em; }
    h1 small:last-child {
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      padding-top: .5em; }

/*mi foto*/
.mi-foto {
  margin-top: 80px;
  border-radius: 15%;
  width: 60%; }

/*fin de mi foto*/
.s-1 {
  width: 100%;
  height: 100vh;
  background: -moz-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1a4686), color-stop(100%, teal));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#1A4686',GradientType=1 );
  /* ie6-9 */ }

.s-text {
  color: white;
  font-size: 20px;
  font-family: "Sarala", sans-serif; }

.s1-text {
  color: #E9B32E;
  font-size: 60px;
  font-family: "Passion One", cursive; }

.s-3 {
  background-color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.text-habilidades {
  color: white; }

/*# sourceMappingURL=main.scss.map */
