/*habilidades*/
.habi-container {
  background-color: rgba(136, 136, 136, 0.6);
  width: 100%;
  height: 100vh; }

.text-habi {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #E99B12;
  font-family: "Passion One", cursive; }

.habi {
  position: relative;
  border-radius: 40px;
  width: 20%;
  margin: 0,0,0,20px; }

/*habilidades fin */
.section-contac {
  margin-top: 130px;
  width: 100%;
  height: 300px; }

@media screen and (max-width: 370px) {
  .section-contac {
    margin: auto; } }
.section-amarillo {
  background-color: #E99B12;
  width: 100%;
  height: 10px;
  position: static; }

.iconito {
  font-size: 50px;
  color: #005F9C;
  border-radius: 50px;
  display: inline-block;
  margin: 10px; }

.btn {
  font-size: 23px;
  color: white;
  padding: 5px;
  background-color: #E99B12;
  width: 200px; }

.btn:hover {
  color: #005F9C;
  padding: 5px; }

.contacto {
  position: relative;
  color: #E99B12;
  font-size: 30px;
  font-family: 'Passion One', cursive; }

.text-contac {
  font-size: 3px;
  color: #E99B12; }

a.text-icono {
  text-decoration: none;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #E99B12;
  font-family: "Passion One", cursive; }

a.text-icono:hover {
  color: #005F9C; }

.caja-centro {
  margin-left: 30px; }

.footer {
  background-color: #005F9C;
  padding: 25px; }
  .footer .text-footer {
    text-decoration: none;
    font-size: 20px;
    color: white; }

.fade {
  opacity: 30;
  color: #E9B32E;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border: 4px solid #E9B32E;
  height: 200px; }

.fade:hover {
  opacity: 10;
  color: green; }

.text-portafolio {
  margin-top: 50px;
  color: #E9B32E;
  font-size: 40px;
  font-family: "Passion One", cursive; }

@media screen and (max-width: 800px) {
  body {
    width: auto;
    max-width: 800px; } }
.titulo-porta {
  color: #E9B32E;
  font-size: 20px;
  font-family: "Passion One", cursive; }

/*navbar prueba*/
.fa-bars {
  font-size: 30px;
  border: 1px solid orange;
  color: orange;
  padding: 2px;
  border-radius: 3px; }

.navbar-custom .nav li a:hover {
  color: #E9B32E;
  outline: none;
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }

  /*haber-----*/
  .navbar-custom.top-nav-collapse {
    padding: 0;
    /*segundo nav naranja*/
    background: #005F9C;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }
/*fin de navbar prueba*/
.menu {
  background-color: transparent;
  whith: 100%;
  color: white;
  padding: 10px; }

.lista {
  font-size: 20px; }

.fila-container {
  background-color: rgba(136, 136, 136, 0.4);
  width: 100%;
  height: 100vh; }

.intro {
  background-image: url("../img/paisaje2.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  /*solo lo de abajo crea el parallax*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.color-letra {
  margin-top: -40px;
  background-color: rgba(105, 112, 122, 0.8);
  width: 50%; }

.text-home1 {
  margin-top: 200px;
  font-size: 80px;
  font-family: Raleway, sans-serif;
  color: #E99B12; }

.text-home2 {
  color: white;
  font-family: 'Passion One', cursive;
  font-size: 30px; }

/*prueba de habilidades*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

#liskills {
  width: 100%;
  margin-top: 15%;
  width: 100%; }

#liskills li {
  position: relative;
  margin-bottom: 32px;
  padding-left: 6px; }

.bar_container,
.bar {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 5px;
  content: ""; }

.bar_container {
  bottom: -8px;
  width: 100%;
  background-color: #333;
  text-align: right; }

.bar {
  top: 0; }

.pct {
  position: absolute;
  top: -19px;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s linear; }

#liskills p {
  color: white;
  text-align: left; }

.languages {
  background-color: rgba(1, 55, 102, 0.2);
  border: 3px solid #3a75bc; }

.tools {
  margin-bottom: 5%; }

.tools h2 {
  margin-bottom: 7%; }

/*habilidades*/
.habilidades {
  width: 60%;
  heigth: 200px;
  diplay: flex;
  align-content: center; }

.fila-habili {
  background: -moz-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1a4686), color-stop(100%, teal));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#1A4686',GradientType=1 );
  /* ie6-9 */ }

.barra {
  background-color: orange; }

.habi-text {
  color: white;
  font-size: 20px; }

@media screen and (min-width: 769px) {
  html {
    font-size: 62.5%; } }
@media screen and (min-width: 641px) and (max-width: 768px) {
  html {
    font-size: 56%; } }
@media screen and (max-width: 640px) {
  html {
    font-size: 50%; } }
a {
  color: inherit; }

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; }

.melnik909 {
  margin-left: 2rem; }

/*
 * controls
 */
.controls {
  flex-wrap: wrap; }

.controls__params {
  align-items: center; }

.controls__param {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 700;
  color: #E99B12; }

.controls__group:nth-child(2) {
  margin-right: 2rem;
  margin-left: 2rem; }

.controls__switch {
  position: absolute;
  top: 0;
  left: -9999px; }

.controls__switch:checked ~ .controls__param {
  color: white;
  border-color: white; }

/*
 * skillbar
 */
.skillbar {
  margin-top: 1rem;
  margin-bottom: 1rem; }

@supports (display: var(--customProperties)) {
  .skillbar {
    --skillBarValue: 92;
    --skillBarSize: 220;
    --skillBarStrokeWidth: 5;
    --skillBarColor: #fec55a;
    --skillBarRadius: 40;
    position: relative; }

  .skillbar__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: calc((var(--skillBarSize) * 1px) / 6.5); }

  .skillbar__progress {
    transform: rotate(-90deg);
    width: calc(var(--skillBarSize) * 1px);
    height: calc(var(--skillBarSize) * 1px); }

  .skillbar__progress-circle {
    width: calc(var(--skillBarSize) * 1px);
    height: calc(var(--skillBarSize) * 1px); }

  .skillbar__progress-bar {
    opacity: .4;
    transition: stroke .5s ease-out; }

  .skillbar__progress-value {
    stroke-dasharray: var(--skillBarCircumference);
    stroke-dashoffset: var(--skillBarPercent); }

  .js-skillbar__progress-value_animated {
    transition: stroke-dashoffset 1.5s cubic-bezier(0.42, 0, 0, 1.21), stroke 0.5s ease-out; } }
/*
 * fallback for browsers which doesn't support a CSS Custom Properties.
 * But not for IE 11
 */
@supports not (display: var(--customProperties)) {
  .title:after {
    content: "It's a fallback for browsers which doesn't support a CSS Custom Properties";
    display: block;
    margin-top: .5rem;
    font-size: 1.4rem;
    font-weight: 400; }

  .controls {
    display: none; }

  .skillbar {
    width: 30rem;
    display: block;
    margin-top: 3rem;
    position: relative;
    overflow: hidden; }

  .skillbar:before {
    content: "";
    width: 100%;
    height: .5rem;
    background-color: #9C27B0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-8%); }

  .skillbar:after {
    content: "";
    width: 100%;
    height: .5rem;
    background-color: rgba(156, 39, 176, 0.2);
    position: absolute;
    bottom: 0;
    left: 0; }

  .skillbar__value {
    display: block;
    font-size: 2rem;
    margin-bottom: .8rem;
    text-align: right;
    padding-left: 3rem; }

  .skillbar__value:before {
    content: "HTML";
    position: absolute;
    top: 0;
    left: 0; }

  .skillbar__progress {
    display: none; } }
.skillbar span {
  color: white; }

.controls__param:hover {
  color: white; }

.slideshow {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  opacity: 1;
  transform: scale(2.2); }
  .slideshow-image:nth-child(1) {
    animation-name: kenburns-1;
    z-index: 3; }
  .slideshow-image:nth-child(2) {
    animation-name: kenburns-2;
    z-index: 2; }
  .slideshow-image:nth-child(3) {
    animation-name: kenburns-3;
    z-index: 1; }
  .slideshow-image:nth-child(4) {
    animation-name: kenburns-4;
    z-index: 0; }

@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(2.2); }
  1.5625% {
    opacity: 1; }
  23.4375% {
    opacity: 1; }
  26.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2.2); }
  98.4375% {
    opacity: 0;
    transform: scale(1.2117647059); }
  100% {
    opacity: 1; } }
@keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    transform: scale(2.2); }
  26.5625% {
    opacity: 1; }
  48.4375% {
    opacity: 1; }
  51.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2.2); } }
@keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    transform: scale(2.2); }
  51.5625% {
    opacity: 1; }
  73.4375% {
    opacity: 1; }
  76.5625% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2.2); } }
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    transform: scale(2.2); }
  76.5625% {
    opacity: 1; }
  98.4375% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(1); } }
h1 {
  color: #E99B12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  line-height: 1.5; }
  h1 small {
    display: block;
    text-transform: lowercase;
    font-size: .8em; }
    h1 small:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding-bottom: .5em; }
    h1 small:last-child {
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      padding-top: .5em; }

/*mi foto*/
.mi-foto {
  margin-top: 100px;
  border-radius: 15%;
  width: 60%; }

@media screen and (max-width: 370px) {
  .mi-foto {
    margin: auto;
    margin-top: 30px;
    height: 300px; }

  .div-amarillo {
    position: static; } }
/*fin de mi foto*/
.s-1 {
  width: 100%;
  height: auto;
  background: -moz-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1a4686), color-stop(100%, teal));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #1a4686 0%, teal 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#1A4686',GradientType=1 );
  /* ie6-9 */ }

.div-complemento {
  width: 100%;
  height: 62px; }

.s-text {
  color: white;
  font-size: 20px;
  font-family: "Sarala", sans-serif; }

.s1-text {
  margin-top: 40px;
  color: #E9B32E;
  font-size: 60px;
  font-family: "Passion One", cursive; }

@media screen and (max-width: 370px) {
  .s1-text {
    margin-top: -50px;
    font-size: 30px; }

  .s-text {
    font-size: 15px; } }
.s-3 {
  background-color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center; }

.text-habilidades {
  color: white; }

/*# sourceMappingURL=main.css.map */
